body{
    height: auto;
    padding-bottom: 50px;
}

.box-color {
    background: #15A4FA;
    color: #fff;
    padding: 10px;
    margin-top: 45px;
}

.table-img > img
{

    height: 100px;
    width: 150px;
    margin: 0 auto;
    display: block;

}

.table-img1 > img
{
    height: 165px;
    width: 25%;
    margin: 0 auto;
}

.img-logo > img
{
    width: 125px !important; 
    margin: 0px auto !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px !important;
  
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    border-bottom: 2px solid #15A4FA;
    border-top: 0;
}


button.btn.tableButton {
    margin-left: 3px;
}
.bookig-table select.form-control{padding: 6px !important;}


thead {
    background: #15A4FA;
    color: #fff;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 10px;
    margin-top: 5px;
}
button.btn.tab-but-2{
    padding: 6px 9px;
    font-size: 12px;
}