<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />

            <div class="row contL">
           <div class="col-md-10 pad1p padl13"> <h2 class="table_heading" style="margin: 0px"">Add supplier</h2></div>
            <div class="add_btn_container col-md-2 pad1p pad3p ">
                <!--<a  href="addc.html"><button class="btn btn-success pull-right" style="margin-left: 0px; type="button" ng-click="goto('add_supplier')">Add supplier</button></a>-->
            </div>
            </div>
            <div class="row contL">
                <div class="col-sm-12">
                    <div class="row">
                   <div class="container-fluid pad3p ">
    				<div class="row ">
				        <div class="col-md-12">
					        <div class="table-responsive boxS">
              					<form name="supplierform" data-ng-submit="addsupplier(supplierform,supplier)" name="loginfrm" id="loginform" novalidate>
                                    <!-- <form role="form" name="exampleForm"  class="form-horizontal form-groups-bordered" required> -->
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">supplier Name</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="supplier_name" id="supplier_nasuppliereholder="Enter supplier Name" ng-model='supplier.supplier_name' required>
                                            <div ng-messages="supplierform.$submitted && supplierform.supplier_name.$error" class="error_msg">
                                                <div ng-message="required">Enter the title</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="field-2" class="col-sm-3 control-label">supplier Description</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <!-- <input type="textarea" class="form-control" id="field-2" name="supplier_description" placeholder="Enter Description Description" ng-model='supplier.supplier_description' required> -->
                                            <textarea name="supplier_description" class="form-control" placeholder="Enter Description Description" ng-model='supplier.supplier_description' rows="4" cols="40"></textarea>
                                            <div ng-messages="supplierform.$submitted && supplierform.supplier_description.$error" class="error_msg">
                                                <div ng-message="required">Enter the description </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Add supplier</button>
                                            <p ng-show="showaddcatmsg" class="success_msg" style="text-align: center;">{{addcatmsg}}</p>
                                            <p ng-show="showaddcaterrrmsg" class="error_msg" style="text-align: center;">{{addcaterrrmsg}}</p>
                                        </div>
                                    </div>
                                </form>
							<div class="clearfix"></div>
            				</div>
				        </div>
					</div>
					</div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_cat" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <br>
                    <h3 class="modal-title" id="lineModalLabel">Delete supplier?</h3>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="del(Supplierid)" data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
