<style>
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
text-align: left;
}
</style>
<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
           <div class="row contL" > 
           <div class="col-md-10 pad1p padl13"> <h2 class="table_heading" style="margin: 0px"">Latest Order</h2></div>
            <div class="add_btn_container col-md-2 pad1p pad3p ">
                <!--<a  href="http://{{hostName}}.mobilesinasia.com/store"><button class="btn btn-success pull-right" style="margin-left: 0px; type="button" ng-click="goto('add_category')">Get Your Site</button></a>-->
            </div>
            </div>
            <div class="row contL">
                <div class="col-sm-12">
                    <div class="row">
               <div class="container-fluid pad3p">
    <div class="row ">
		
        
        <div class="col-md-12">
      
      
      
      
      <div class="col-md-2"></div>
     
        <div class="col-md-12 table-responsive boxS">
 <table id="mytable" class="table table-bordred table-striped">
     <tr>
     	<th class="checkthis">Order Id</th>
     	<th class="checkthis">Payment Type</th>
     	<th class="checkthis">Total Amount</th>
     	<th class="checkthis">Status</th>
     	<th class="checkthis">Created On</th>
     	
     </tr>              
                
    <tbody class="tdFont">
     

 
   
    
    </tbody>
        
</table>
     <div class="col-md-12">
      <!--<button ng-click="goto('addbasicinfo')" class="btn btn-success">Add</button>
       <button ng-click="goto('editbasicinfo')" class="btn btn-primary">Edit </button>
        <button ng-click="deletebasicinfo()" class="btn btn-danger">Delete</button>-->
    </div>
    <div class="col-md-12">
     <p ng-show="showdelbasicinfomsg" class="success_msg" style="text-align: center;font-size: medium;">{{delbasicinfomsg}}</p>
      <p ng-show="showdelbasicinfoerrmsg" class="error_msg" style="text-align: center;font-size: medium;">{{delbasicinfoerrmsg}}</p>
    </div>
        
            </div>  
            
                <div class="col-md-2"></div>
            
        </div>
	</div>
</div>

                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>
