<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />

            <div class="row contL">
                <div class="col-md-10 pad1p padl13">
                    <h2 class="table_heading" style="margin: 0px">Edit Inventory</h2>
                </div>
                <div class=" add_btn_container col-md-2 pad1p pad3p ">
                    <a><button class=" btn btn-success pull-right" style="margin-left: 0px; type= button" ng-click="goto('inventory')">Back</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row contL">
                    <div class="container-fluid pad3p ">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="col-md-12 table-responsive boxS">
                                    <form role="form" name="editinventoryform" class="form-horizontal form-groups-bordered" ng-submit='editinventory(editinventoryform ,itemdata)' class="form-horizontal form-groups-bordered login_form" novalidate>
                                        <div class="row">
                                            <div class="col-md-12 pd1">
                                                <div class="col-md-2 labeleDiv">
                                                    <lable for="field-1">Item Name:</lable>
                                                </div>
                                                <div class="col-md-10 labeleDiv">
                                                    <input typle="text" id="field-1" ng-model='itemdata.item_name' class="form-control" style="height:42px;">
                                                </div>
                                                <div ng-messages="editinventoryform.$submitted && editinventoryform.item_name.$error" class="error_msg">
                                                    <div ng-message="required">Enter Name</div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 pd1">
                                                <div class="col-md-2 labeleDiv">
                                                    <lable for="field-2">Inventory:</lable>
                                                </div>
                                                <div class="col-md-10 labeleDiv">
                                                    <input typle="text" id="field-2" ng-model='itemdata.inventory' placeholder="Enter Inventory" name="inventory" class="form-control" style="height:42px;" required>
                                                </div>
                                                <div ng-messages="editinventoryform.$submitted && editinventoryform.inventory.$error" class="error_msg">
                                                    <div ng-message="required">Enter Inventory</div>
                                                </div>
                                            </div>
                                            
                                             <div class="col-md-12 pd1">
                                                <div class="col-md-2 labeleDiv">
                                                    <lable for="field-2">Inventory:</lable>
                                                </div>
                                                <div class="col-md-10 labeleDiv">
                                                    <input typle="text" id="field-2" ng-model='itemdata.inventory' placeholder="Enter Inventory" name="inventory" class="form-control" style="height:42px;" required>
                                                </div>
                                                <div ng-messages="edititemform.$submitted && edititemform.inventory.$error" class="error_msg">
                                                    <div ng-message="required">Enter Inventory</div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 pd1 " style="padding:1%;">

                                                <center><a ng-click="goto('inventory')"><button class="btn btn-primary btnf">Back</button></a>
                                                    <button type="submit" class="btn btn-success btnf">Update Inventory</button>
                                                    <p ng-show="showupdatecatmsg" class="success_msg">{{updatecatmsg}}</p>
                                                    <p ng-show="showupdateerrcatmsg" class="error_msg">{{updateerrcatmsg}}</p>
                                                </center>
                                            </div>

                                        </div>
                                    </form>

                                </div>



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
    </div>

</div>

</div>
