<style>
div{
	    font-family: 'Poppins', sans-serif;
	    font-size: 15px;
}
p{
	font-size: 15px;
}
@font-face {
  font-family: 'Cookie';
  src: url(https://fonts.gstatic.com/s/cookie/v8/syky-y18lb0tSbf9kgqS.woff2);
}
.company-logo
{
  font-family: "Cookie","Helvetica Neue",Helvetica,Arial;

    color: #46C646;
    font-size: 60px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    margin-top: -10px;
}

</style>
<style>
   .ready_to_shape
   {
     height: auto;
    overflow-y: auto;
    width: 1000px;
    left: -174px;
}
   
    textarea.form-control {
    height: auto;
    width: auto;
}
	@media (max-width: 767px) {
    .ready_to_shape {
    height: auto;
    overflow-y: auto;
    width: 340px;
    left: 0px;
}
	}
</style>
<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
           <div class="row contL">

               <div class="col-md-4 pad1p padl13">
               <h3 class="table_heading" style="margin: 0px">
               	<table>
            		<tbody>
	            	<tr>
                        <th colspan="4">Order Status :</th>
                        <th style="padding-left: 20px;font-size: 17px;">
                           {{orderlist.status}}
                         </th>
                     </tr>
                     </tbody>
                   </table>
               </h3>
               </div>

               <div class="col-md-5 pad1p padl13">
               <h3 class="table_heading" style="margin: 0px">
               	<table>
            		<tbody>
	            	<tr>
                        <th colspan="4">Change Status :</th>
                        <th style="padding-left: 20px;font-size: 17px;">
              <select ng-model="orderlist.status" ng-change="onchange_status(orderlist)">
							<option value="Pending" ng-selected="orderlist.status=='Pending'">Pending</option>
							<option value="Confirm" ng-selected="orderlist.status=='Confirm'">Confirm</option>
							<option value="Cancel" ng-selected="orderlist.status=='Cancel'">Cancel</option>
							<option value="Delivered" ng-selected="orderlist.status=='Delivered'">Delivered</option>
							<option value="Collected" ng-selected="orderlist.status=='Collected'">Collected</option>
						  </select>
                         </th>
                     </tr>
                     </tbody>
                   </table>
               </h3>
               </div>

            	<div class="add_btn_container col-md-3 pad1p pad3p ">
                <button class="btn btn-success pull-right" style="margin-left: 5px;" type="button" ng-click="generatePDF()">PDF</button>
                <button class="btn btn-success pull-right" style="margin-left: 5px;" type="button" ng-click="back()">Back</button>
                <button class="btn btn-success pull-right" style="margin-left: 5px;" type="button" ng-click="openDeliveryAddr()">Delivery</button>

               </div>
            </div>


             <div class="row contL">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<h3>Order Summary</h3>-->

                            <table class="table table-striped table-hover table-bordered" ng-if="nlength > 0">
                                <tbody >
                                    <tr>
                                        <th><b>Date</b></th>
                                        <th><b>Note</b></th>
                                        <th><b>Status</b></th>

                                    </tr>

                                    <tr ng-repeat="note in notelist">
                                        <td>{{note.created_on | date:"dd-MM-yyyy"}}</td>
                                        <td>{{note.note}}</td>
                                        <td>{{note.status}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

            <br>
			<div id="formConfirmation">
            <div class="row contL">
                <div class="col-md-12">



                </div>
                <div class="col-md-12">
                	<p class="company-logo">CarbonInq</p>
                </div>
                <div class="col-md-6">

                    <h3><b>Customer Details</b></h3>
                    <div class="panel-heading"> </div>
                    <p><b>Order No : {{orderlist.order_id}}</b></p>
                    <p><b>Name : </b>{{orderlist.first_name}} {{Order.address.defaultaddress.last_name}}</p>
                    <p><b>Email : </b>{{orderlist.email}}</p>
                    <p><b>Tel : </b>{{orderlist.phone}}</p>
                </div>
                <div class="col-md-4">
                    <div style="float:right">
                        <h3><b>Delivery : {{orderlist.delivery}}</b></h3>
                        <p>{{orderlist.companyname}} </p>
                        <p>{{orderlist.address}}</p>
                        <p>{{orderlist.city}}</p>
                        <p>{{orderlist.state}}-{{orderlist.zipcode}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row contL">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<h3>Order Summary</h3>-->

                            <table class="table table-striped table-hover table-bordered">
                                <tbody >
                                    <tr>
                                        <th><b>Image</b></th>
                                        <th><b>Product</b></th>
                                        <th><b>QTY</b></th>
                                        <!--<th>Size</th>
                                        <th><b>Color</b></th>-->
                                        <th><b>Unit Price</b></th>
                                        <th><b>Total Price</b></th>
                                        </b>
                                    </tr>

                                    <tr ng-repeat="order in  orderDetaillist">
                                        <td><img src="{{imageURL}}/{{order.item_image}}" style="height: 100px;width: 100px;"></td>
                                        <td>{{order.item_name}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>SGD {{order.item_price}}</td>
                                        <td>SGD {{order.item_price * order.quantity}}</td>

                                    </tr>
                                    <tr>
                                        <th colspan="4"><span class="pull-right"><b>Sub Total</b></span></th>
                                        <th>SGD {{orderlist.total_amount-orderlist.charges}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4"><span class="pull-right"><b>Shipping Charges</b></span></th>
                                        <th>SGD {{orderlist.charges}}</th>
                                    </tr>
                                    <tr>
                                    	<th><span class="pull-left"><b>Payment Type</b> : {{orderlist.payment_type}}</span></th>
                                        <th colspan="2"><b>Transaction ID</b> : {{orderlist.token}}</th>
                                        <th><span class="pull-right"><b>Total</b></span></th>
                                        <th>SGD {{orderlist.total_amount}}</th>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>

                    <br>
                </div>
            </div>
			</div>
        </div>
    </div>


    <div class="modal fade" id="add_note" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete ready_to_shape" style="width: 710px;left:0px">
                <div class="modal-header" style="border:none;background-color:#62bfb4;text-align: center;color: white;font-size: 20px;">
                    Add Note
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">

                                    <div class="form-group">

                                        <div class="col-sm-12">
                                        <div class="col-sm-12" style="padding-bottom: 10px;">
                                            <div class="col-sm-3">
                                            <label for="field-2" class="control-label">Note</label>
                                            </div>
                                            <div class="col-sm-8">
                                            	<textarea name="note" class="form-control" placeholder="Enter Note" ng-model='orderlist.note' rows="4" cols="40">{{}}</textarea>
                                            	<div ng-messages="categoryform.$submitted && categoryform.note.$error" class="error_msg">
                                            	    <div ng-message="required">Enter the note </div>
                                            	</div>
                                            </div>
                                        </div>

                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5" style="margin-bottom: 15px;margin-top: 15px;">
                                            <button type="submit" class="btn btn-success" ng-click="change_status(orderlist)">Save</button>
                                            <p ng-show="showaddcatmsg" class="success_msg" style="text-align: center;">{{addcatmsg}}</p>
                                            <p ng-show="showaddcaterrrmsg" class="error_msg" style="text-align: center;">{{addcaterrrmsg}}</p>
                                        </div>
                                    </div>


                </div>
            </div>
        </div>
    </div>








</div>


<div class="modal fade" id="delivery_addr" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete ready_to_shape" style="width: 710px;left:0px">
                <div class="modal-header" style="border:none;background-color:#62bfb4;text-align: center;color: white;font-size: 20px;">
                    Supplier Details
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">

                                    <div class="form-group">

                                        <div class="col-sm-12">
                                        <div class="col-sm-12" style="padding-bottom: 10px;">
                                            <div class="col-sm-1">

                                            </div>
                                            <div class="col-sm-10">
                                            	<table class="table table-striped table-hover table-bordered">
					                                <tbody >
					                                    <tr>
					                                        <th><b>Product Name</b></th>
					                                        <th><b>Supplier Address</b></th>

					                                        </b>
					                                    </tr>

					                                    <tr ng-repeat="order in orderDetaillist">

					                                        <td><span class="pull-left">{{order.item_name}}</span></td>
					                                        <td><span class="pull-left">{{order.supplier_detail}}</span></td>

					                                    </tr>


					                                </tbody>
					                            </table>
                                            </div>
                                            <div class="col-sm-1">

                                            </div>
                                        </div>

                                    </div>
                                    <br>


                </div>
            </div>
        </div>
    </div>
