<style>
div{
	    font-family: 'Poppins', sans-serif;
	    font-size: 15px;
}
p{
	font-size: 15px;
}
@font-face {
  font-family: 'Cookie';
  src: url(https://fonts.gstatic.com/s/cookie/v8/syky-y18lb0tSbf9kgqS.woff2);
}
.company-logo
{
  font-family: "Cookie","Helvetica Neue",Helvetica,Arial;
   
    color: #46C646;
    font-size: 60px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    margin-top: -10px;
}

</style>
<style>
   .ready_to_shape
   {
     height: auto;
    overflow-y: auto;
    width: 1000px;
    left: -174px;
}
   }
    textarea.form-control {
    height: auto;
    width: auto;
}
	@media (max-width: 767px) {
    .ready_to_shape {
    height: auto;
    overflow-y: auto;
    width: 340px;
    left: 0px;
}
	}
</style>
<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
           <div class="row contL"> 
               <div class="col-md-10 pad1p padl13">
               <h3 class="table_heading" style="margin: 0px">
               	<table>
            		<tbody>
	            	<tr>
                        <th colspan="4">Order Status :</th>
                        <th style="padding-left: 20px;font-size: 17px;">
                          <select ng-model="orderlist.status" ng-change="change_status(orderlist)">
							<option value="Pending" ng-selected="orderlist.status=='Pending'">Pending</option>
							<option value="Confirm" ng-selected="orderlist.status=='Confirm'">Confirm</option>
							<option value="Ready_to_Delivery" ng-selected="orderlist.status=='Ready_to_Delivery'">Ready to Delivery</option>
							<option value="Delivered" ng-selected="orderlist.status=='Delivered'">Delivered</option>
							<option value="Reject" ng-selected="orderlist.status=='Reject'">Reject</option>
						   </select>
                         </th>
                     </tr>
                     </tbody>
                   </table>
               </h3>
               </div>
            	
            	<div class="add_btn_container col-md-2 pad1p pad3p ">
                <button class="btn btn-success pull-right" style="margin-left: 5px; type="button" ng-click="generatePDF()">PDF</button>
                <button class="btn btn-success pull-right" style="margin-left: 5px; type="button" ng-click="back()">Back</button>
                
            </div>
            </div>
           
            <br>
			<div id="formConfirmation">
            <div class="row contL">
                <div class="col-md-12">
                	
            	
                  
                </div>
                <div class="col-md-12">
                	<p class="company-logo">CarbonInq</p>
                </div>
                <div class="col-md-6">
                    
                    <h3><b>Customer Details</b></h3>
                    <div class="panel-heading"> </div>
                    <p><b>Order No : {{orderlist.order_id}}</b></p>
                    <p><b>Name : </b>{{orderlist.first_name}} {{Order.address.defaultaddress.last_name}}</p>
                    <p><b>Email : </b>{{orderlist.email}}</p>
                    <p><b>Tel : </b>{{orderlist.phone}}</p>
                </div>
                <div class="col-md-4">
                    <div style="float:right">
                        <h3><b>Shipping Address</b></h3>
                        <div class="panel-heading"> </div>
                        <p>{{orderlist.address}}</p>
                        <p>{{orderlist.city}}</p>
                        <p>{{orderlist.state}}-{{orderlist.zipcode}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row contL">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<h3>Order Summary</h3>-->
                            
                            <table class="table table-striped table-hover table-bordered">
                                <tbody >
                                    <tr>
                                        <th><b>Image</b></th>
                                        <th><b>Product</b></th>
                                        <th><b>QTY</b></th>
                                        <!--<th>Size</th>
                                        <th><b>Color</b></th>-->
                                        <th><b>Unit Price</b></th>  
                                        <th><b>Total Price</b></th>
                                        </b>
                                    </tr>
                                    
                                    <tr ng-repeat="order in  orderDetaillist">
                                        <td><img src="{{imageURL}}/{{order.item_image}}" style="height: 100px;width: 100px;"></td>
                                        <td>{{order.item_name}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>SGD {{order.item_price}}</td>
                                        <td>SGD {{order.item_price * order.quantity}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <th colspan="4"><span class="pull-right"><b>Sub Total</b></span></th>
                                        <th>SGD {{orderlist.total_amount-orderlist.charges}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4"><span class="pull-right"><b>Shipping Charges</b></span></th>
                                        <th>SGD {{orderlist.charges}}</th>
                                    </tr>
                                    <tr>
                                    	<th><span class="pull-right"><b>Payment Type</b></span></th>
                                        <th>{{orderlist.payment_type}}</th>
                                        <th colspan="2"><span class="pull-right"><b>Total</b></span></th>
                                        <th>SGD {{orderlist.total_amount}}</th>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    
                    <br>
                </div>
            </div>
			</div>
        </div>
    </div>
    <div class="modal fade" id="Change_status" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h3 class="modal-title" id="lineModalLabel">Change Order Status</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="">
                                <form name="orderStatusForm" data-ng-submit="orderStatusForm.$valid && addorderstatus(category)" name="loginfrm" id="loginform" novalidate>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Order status</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                             <select class="form-control" ng-model="orderStatus.status" ng-options="delstatus.id as delstatus.status for delstatus in deliveryStatus" name="status" required >
                                            <option value="">Status</option>
                                            </select>
                                            <div ng-messages="orderStatusForm.$submitted && orderStatusForm.status.$error" class="error_msg">
                                                <div ng-message="required">Select the status</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Notes</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                           <textarea name="notes" class="form-control" placeholder="Enter the Notes" ng-model='orderStatus.notes' rows="4" cols="40" required></textarea>
                                            <div ng-messages="orderStatusForm.$submitted &&  orderStatusForm.notes.$error" class="error_msg">
                                                <div ng-message="required">Enter the notes</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Add Status</button>
                                            <p ng-show="showordermsg" class="success_msg" style="text-align: center;">{{ordermsg}}</p>
                                            <p ng-show="showordererrmsg" class="error_msg" style="text-align: center;">{{ordererrmsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="ready_to_shipping" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete ready_to_shape">
                <div class="modal-header" style="border:none;background-color:#62bfb4;text-align: center;color: white;font-size: 20px;">
                    Ready To Delivery
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <form name="categoryform" data-ng-submit="sendtocompany(categoryform)" name="loginfrm" id="loginform" novalidate>
                                    <div class="form-group">
                                       
                                        <div class="col-sm-12"> 
                                        <div class="col-sm-12" style="padding-bottom: 10px;" ng-repeat="order in  orderDetaillist">
                                            <div class="col-sm-3">
                                            <label for="field-2" class="control-label">Supplier Details-{{order.item_name}}</label>
                                            </div>
                                            <div class="col-sm-8">
                                            	<textarea name="supllier_details" class="form-control" placeholder="Enter Supplier Details" ng-model='order.supplier_detail' rows="4" cols="40"></textarea>
                                            	<div ng-messages="categoryform.$submitted && categoryform.supllier_details.$error" class="error_msg">
                                            	    <div ng-message="required">Enter the Supplier Details </div>
                                            	</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <br>
                                    
                                    <div class="form-group">
                                      <div class="col-sm-12"> 
                                        <div class="col-sm-3">
	                                        <label for="field-2" class="control-label">Delivery Details</label>
	                                    </div>
                                        <div class="col-sm-8" style="padding-bottom: 10px;">
                                            <!-- <input type="textarea" class="form-control" id="field-2" name="category_description" placeholder="Enter Description Description" ng-model='category.category_description' required> -->
                                            <textarea name="delivery_details" class="form-control" placeholder="Enter Delivery Details" ng-model='delivery_details' rows="4" cols="40"></textarea>
                                            <div ng-messages="categoryform.$submitted && categoryform.delivery_details.$error" class="error_msg">
                                                <div ng-message="required">Enter the delivery details </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5" style="margin-bottom: 15px;margin-top: 15px;">
                                            <button type="submit" class="btn btn-success">Send To Company</button>
                                            <p ng-show="showaddcatmsg" class="success_msg" style="text-align: center;">{{addcatmsg}}</p>
                                            <p ng-show="showaddcaterrrmsg" class="error_msg" style="text-align: center;">{{addcaterrrmsg}}</p>
                                        </div>
                                    </div>
                     </form>
                    <!--<div>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="del(delorderid)" data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    
    
</div>
