<div  style="border:1px solid green;height:400px;" class="sidebar-menu ng-scope">
  <div class="logo-env">
    <h2 class="logoClass">CarbonInq</h2>
  </div>
  <div>
  <ul id="main-menu" class="">

        <li>
          <a class="advb"  ng-click="goto('dashboard')"><span>Dashboard</span></a>

        </li>

        <li>
          <a class="advb" ng-click="goto('category')"> <span>Category</span></a>
        </li>
        <li>
          <a class="advb" ng-click="goto('item')"></i><span>Item</span></a>
        </li>
        <li>
          <a  class="advb" ng-click="goto('orderlist')"> <span>Order</span></a>
        </li>
        <li>
          <a  class="advb"  ng-click="goto('users')"> <span>Users</span></a>
        </li>

      <li>
        <a  class="advb"  ng-click="goto('supplier')"> <span>Supplier</span></a>
      </li>
      <li>
        <a  class="advb"  ng-click="goto('inventory')"> <span>Inventory</span></a>
      </li>


  </ul>
</div>
</div>
