
            <div class="row bbtm" ng-controller="businessLoginController"> 
      <!-- Profile Info and Notifications -->
      <div class="col-md-6 col-sm-8 clearfix">
        <ul class="user-info pull-left pull-none-xsm">
          <!-- Profile Info -->
          <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
            <!-- <a ng-model='adminusername' class="dropdown-toggle" data-toggle="dropdown"> <img src="../../assets/images/thumb-1.png" alt="" class="img-circle" / >{{adminusername}}</a> -->

            <ul class="dropdown-menu">
              <!-- Reverse Caret -->
              <li class="caret"></li>
              <!-- Profile sub-links -->
              <li> <a href="#"> <i class="entypo-user"></i> Edit Profile </a> </li>
              <li> <a href="../../mailbox/main/index.html"> <i class="entypo-mail"></i> Inbox </a> </li>
              <li> <a href="../../extra/calendar/index.html"> <i class="entypo-calendar"></i> Calendar </a> </li>
              <li> <a href="#"> <i class="entypo-clipboard"></i> Tasks </a> </li>
            </ul>
          </li>
        </ul>
        <ul class="user-info pull-left pull-right-xs pull-none-xsm">
        </ul>
      </div>
      <!-- Raw Links -->
      <div class="col-md-6 col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list pull-right">
          <li><div class="dropdown">
    <button class="btn bbt dropdown-toggle" type="button" data-toggle="dropdown">Welcome {{username}} 
    <span style="color:white" class="caret"></span></button>
    <ul class="dropdown-menu mar10p">
            
        <li><a href="editInfo.html" class="fnt20">  <i class="fa fa-user"></i> Profile </a></li>
     
         <li><a href="changepass.html" class="fnt20"><i class="fa fa-key" aria-hidden="true"></i>   Change Password </a></li>
            <li><a href="acc.html" class="fnt20"><i class="fa fa-gear"></i>   Account Details </a></li>
            <li><a class="fnt20" ng-click="logout()"><i class="entypo-logout right"></i>  Log Out </a></li>

     
     
    </ul>
  </div> </li>
        </ul>
      </div>
    </div>