<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            
            <div class="row contL"> 
           <div class="col-md-12 pad1p"> <h2 class="text-center table_heading" style="margin: 0px"">User </h2></div>
           
            </div>
            <div class="row contL">
                <div class="col-sm-12">
                    <div class="row">
                   <div class="container-fluid pad3p">
    <div class="row ">
		
        
        <div class="col-md-12">
      
        <div class="table-responsive boxS">

               
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead class="thFont">
                   
                   <th><input type="checkbox" id="checkall" /></th>
                   <th> Name</th>
                    <th>Email</th>
                   
                      <th>Mobile</th>
                      
                      <th>Date</th>
                       <th>Action</th>
                       
                   </thead>
    <tbody class="tdFont">
    
    <tr ng-repeat="item in users">
    <td><input type="checkbox" class="checkthis" /></td>
    <td>{{item.first_name}}</td>
    
    <td>{{item.email}}</td>
    <td>{{item.mobile}}</td>
    
    <td>{{item.posted | date:"dd-MM-yyyy"}}</td>
       <td>
    <!--<span  title="Edit"><button class="btn btn-primary btn-xs"  ><span class="glyphicon glyphicon-pencil"></span></button></span>-->
    <span title="Delete"><button data-toggle="modal" data-target="#del_cat"  ng-click='confirmcatdel(item.id_pk)' class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-trash"></span></button></span>
    </td>
   
    </tr>
    
    
    
    
    
   
   
    
   
    
    </tbody>
        
</table>

<div class="clearfix"></div>
       
            </div>
            
        </div>
	</div>
</div>

                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_cat" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <br>
                    <h3 class="modal-title" id="lineModalLabel">Delete User?</h3>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="del(userid)" data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
